{% extends "SupermercadoApp/main.html" %}
{% load static %}

{% block contenidosQueVarian %}
<!-- About section-->
<section id="about">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>Sobre mi:</h2>
                <p class="lead">Mi nombre es Nicolás Gori, tengo 31 años, soy oriundo de Uruguay, abogado y amante de la tecnología.</p>
                <p class="lead">¡Gracias por visitar mi sitio!</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}