{% extends "SupermercadoApp/main.html" %}
{% load static %}

{% block contenidosQueVarian %}

    <h2>Clientes del supermercado:</h2>
    <ul>
        {% for cliente in object_list %}

            <li>
                <p>
                    Nombre completo: {{ cliente.nombre }} {{ cliente.apellido }} | 
                    <a href="{% url 'Detail' cliente.id %}">Ver</a> |
                    <a href="{% url 'Edit' cliente.id %}">Editar</a> |
                    <a href="{% url 'Delete' cliente.id %}">Borrar</a>
                </p>
            </li>
        {% endfor %}
        <p>
            <a href="{% url 'New'  %}">¡Agregar un nuevo cliente!</a>
        </p>
    </ul>

{% endblock %}