{% extends "SupermercadoApp/main.html" %}
{% load static %}

{% block contenidosQueVarian %}
<!-- About section-->
<section id="about">
    <div class="container px-4">
        <div class="row gx-4 justify-content-center">
            <div class="col-lg-8">
                <h2>¡Bienvenido a la sección de clientes!</h2>
                <p><a href="{% url 'Agregar_cliente' %}">¡Haz click aquí para agregar un cliente!</a></p>
                <p><a href="{% url 'Leer_cliente' %}">¡Haz click aquí para conocer los clientes existentes!</a></p>
                <p class="lead">Aquí encontrarás todo lo que necesites para tu hogar.</p>
                <p class="lead">¡Gracias por visitar el sitio!</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}