{% extends "SupermercadoApp/main.html" %}
{% load static %}

{% block titulo %}
    <h1 class="fw-bolder">Detalles del empleado: {{ empleado.nombre_empleado }} {{empleado.apellido_empleado}}</h1>
{% endblock %}

{% block contenidosQueVarian %}

<div class="text-center">
    <div class="card" style="width:20rem; margin:0 auto">
        {% if empleado.imagen %}
            <img src="{{ empleado.imagen.url }}" alt="" class="card-img-top">
        {% else %}
            <img src="../../../media/empleados/empleado_default.png" alt="" class="card-img-top">
        {% endif %}
        <h5>Nombre del Empleado: <i> {{ empleado.nombre_empleado }} {{ empleado.apellido_empleado }} </i></h5>
        <p>Puesto: <i> {{ empleado.puesto }} </i></p>
        <p>Sueldo: <i> {{ empleado.sueldo }} </i></p>
        <p>CI: <i> {{ empleado.numero_identidad}} </i></p>
    </div>
    
    <p>
        <a href="{% url 'Empleados_List' %}">Regresar</a>
    </p>
</div>

{% endblock %}