{% extends "SupermercadoApp/main.html" %}
{% load static %}

{% block contenidosQueVarian %}
<!-- About section-->
{% if request.user.is_authenticated %}
    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-8">
                    <h2>¡Bienvenido, {{user.username}}!</h2>
                    <p class="lead">Visita nuestra tienda y conoce nuestros últimos productos.</p>
                    <p class="lead">¡Gracias por visitar el sitio!</p>
                </div>
            </div>
        </div>
    </section>
{% endif%}

{% if form.errors %}
<p style="color:red">{{ mensaje }}</p>
{% endif %}

{% endblock %}