{% extends "SupermercadoApp/main.html" %}
{% load static %}

{% block titulo %}
    <h1 class="fw-bolder">Detalles del producto: {{ producto.nombre_producto }} - {{producto.tamanio}}</h1>
{% endblock %}

{% block contenidosQueVarian %}

<div class="text-center">
    <div class="card" style="width:20rem; margin:0 auto">
        {% if producto.imagen%}
            <img src="{{ producto.imagen.url }}" alt="" class="card-img-top">
        {% endif %}
        <h5>Producto: <i> {{ producto.nombre_producto }} {{ producto.tamanio }} </i></h5>
        <p>Categoría: <i> {{ producto.categoria }} </i></p>
        <p>Precio: <i> ${{ producto.precio}} </i></p>
    </div>
    
    <p>
        <a href="{% url 'Productos_List' %}">Regresar</a>
    </p>
</div>
{% endblock %}